---
layout: default
---
{% include index/top-banner.html %}
{% include index/about.html %}
{% include index/our-vicar.html %}
{% include index/vicar.html %}
{% include index/offbearers.html %}
{% include index/announcements.html %}
{% include index/youthchaplain.html %}
{% include index/parish-history.html %}
{% include index/ministries.html %}
{% include index/former-vicars.html %}
<!--
<div class="cta-2">
  <div class="container text-center">
    <a href="blog.html" class="btn btn-dark btn-lg wow animated bounceInDown"  data-wow-duration="700ms" data-wow-delay="100ms">View Previous Announcements</a>
  </div>
</div>
-->
<!--cta 2-->




