 <section id="footer-contact" data-stellar-background-ratio="0.5" class="banner-top">
  <div class="text-center container main-flex-slider">

  </div>

</section>
<section id="footer-info">
	<div  class="container">
		<h1 style="color: #FFFFFF; padding-top: 50px;">Contact Us</h1>

		<p style="color: #FFFFFF;">
			406 King Street <br/> 
			Port Chester, NY <br/>
			newyorkebenezermtc@gmail.com
		</p>
		<div class="col-sm-12 text-left" style="margin-top: 25px; margin-bottom: 25px; padding-left: 0px;">
			<div class="col-sm-1" style="width: 40px; padding-left: 0px;">
				<a href="https://www.facebook.com/EbenezerMarthomaChurchNY" target="_blank">
					<img src="../img/2. Facebook Logo.png" alt="Facebook" class="social-icon" width="30" />
				</a>
			</div>
			<div class="col-sm-1"> 
				<a href="https://www.instagram.com/emtcyf/" target="_blank">
					<img src="../img/3. Instagram Logo.png" alt="Instagram" class="social-icon" width="40" />
				</a>
			</div>
		  </div>
	</div>

</section><!--home section end-->