<section id="former-vicars" class="section-padding">
  <div class="container">
    <div class="col-md-12 text-left">
        <h1>Former Vicars</h1>
        <br/>
    </div>
    <div class="col-md-10 margin-btm-30">
      <div class="col-md-12">
        <p>
         Rev. Aju Abraham <br/> 
         Rev. Biji Mathew <br/>
         Rev. Sony Philip <br/>
         Rev. Abraham Oommen <br/>
         Rev. Benjamin George <br/>
         Rev. Johnson C Jacob <br/>
         Rev. Johnson Varghese <br/>
         Rev. George Mathew <br/>
         Rev. Dr. V. S. Varghese (Associate Vicar) <br/>
         Rev. Thomas Easow <br/>
         Rev. Thomas C Alexander <br/>
         Rev. Dr. T. P. Abraham <br/>
         Rev. Johnson Varghese <br/>
         Rev. Dr. K. U. Abraham (Associate Vicar) (Rt. Rev. Dr. Abraham Mar Paulose) <br/>
         Rev. G. Varghese
        </p>
        <p>1987 -2021, we shared Vicars from our sister Parishes; St. Thomas MTC (1989 – 1994), St. Johns Mar Thoma Church (1994-2000), St. Andrews Mar Thoma Church (2003-2017), Jerusalem MTC/Rochester Prayer Group (2017-2021) as well as received services from immigrant Priests (1987-1989, 2000-2003) and Priests who were Doctoral Candidates from Boston and Princeton Universities (1987-1992, 1999-2003).</p>
      </div>
    </div>
  </div>
  </section><!-- End Former Vicar's Section -->
