 <section id="home-welcome" data-stellar-background-ratio="0.5" class="banner-top">
  <div class="text-center container main-flex-slider">
	<p style="font: 14px; font-weight: 700;"> 
		406 KING STREET <br/>
		PORT CHESTER, NY
	</p>
	<ul class="slides" style="list-style-type: none;">
	    <li>
		    <h1>Welcome to </h1>
		    <h1>Ebenezer Mar Thoma Church</h1>
	  	</li>
	  	<li></li>
		<p style="font: 14px;"> 
			The heavens are telling of the glory of God; And their expanse is declaring the work of His hands. <br/>
			-Psalms 19:1
		</p>
	</ul>

  </div>

</section>
<section id="home-info">
	<div  class="text-center container">
		<p> Service every Sunday at 10:00 AM </p>
		<p> Sunday School at 9:15 AM </p>
	</div>
</section><!--home section end-->