 <section id="home" data-stellar-background-ratio="0.5" class="banner-top">
  <div class="text-center container main-flex-slider">
	<p style="font: 28px 'Arizonia', Helvetica, sans-serif;"> 406 King Street </p>
	<p style="font: 18px 'Arizonia', Helvetica, sans-serif;"> Port Chester, NY </p>
	<ul class="slides" style="list-style-type: none;">
	    <li>
		    <h1>Welcome to </h1>
		    <h1>Ebenezer Mar Thoma Church</h1>
	  	</li>
	  	<li></li>
		<p style="font: 28px 'Arizonia', Helvetica, sans-serif;"> The heavens are telling of the glory of God; <br/> And their expanse is declaring the work of His hands. </p>
		<p style="font: 18px 'Arizonia', Helvetica, sans-serif;"> -Psalms 19:1 </p>
	</ul>
	<div>
		<ul class="slides" style="list-style-type: none;">
			<li>
				<p> Service every Sunday at 10:00 AM </p>
			</li>
			<li>
				<p> Sunday School at 9:15 AM </p>
			</li>
		</ul>
	</div>
  </div>
</section><!--home section end-->