<section id="vicar" class="banner-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <h1>Vicar's Message</h1>
        <br/>
      </div>
    </div>
    {% for post in site.posts limit:10 %}
    {% if post.categories contains 'vicar' %}

    <div class="col-md-10">
      <div class="col-md-10 margin-btm-30">
        <span>{{ post.date | date: "%b %-d, %Y" }} </span>
        <p>
          {{ post.content }}
        </p>
        <p class="text-right">
          <!--
          <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-dark btn-xs">
            Read More
          </a> -->
        </p>
      </div><!--blog desc-->
  </div>
  {% endif %}
  {% endfor %}  
</section> <!--End Vicar's Message Section  -->