<section id="youth-chaplain" class="banner-top">
  <div class="container">
    <div class="col-md-12 text-left">
      <h1>Youth Chaplain's Corner</h1>
      <br/>
      <div class="col-md-6">
        <img src="./img\6. Youth Chaplain.jpg" width="400">
      </div> 
    

    {% for post in site.posts limit:5 %}
    {% if post.categories contains 'youthchap' %}
    <div class="col-md-6 offset-md-6">
        <p>
          {{ post.content }}
        </p>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>  
</section>